
# bash gets confused if you pass in text files from windows
# This breaks Vagrant for some users.
* text=auto eol=lf

*.bin -diff
*.elf -diff
*.hex -diff

*.bin binary linguist-generated
*.elf binary linguist-generated
*.hex binary linguist-generated
